@import "../../main.scss";

$break-small: 414px;
.average-value {
    font-family: $primary-font;
    font-size: 16px;
    margin: 10px;
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 50%;    
    border: 3px solid $secondary-color;
    padding: 5px;
    box-shadow: 0 0 0 3px $primary-color;
  }

  .details {
    width: 80px;
    height: 80px;
    font-size: 30px;
  }

  .card-movie {
    width: 50px;
    height: 50px;
    @media screen and (max-width: $break-small) {
      margin-top: 50px;
    }
  }