@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

$primary-color: #116193;
$secondary-color: #00e8e4;
$background-color-card: #ebebeb;

$primary-font: 'Abel', sans-serif;
$secondary-font: 'Lato', sans-serif;

* {
    margin: 0;
    padding: 0;
}
